:root {
  --color-accent: rgb(9, 82, 179);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 50rem;
  margin-inline: auto;
  padding: 30px;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
}

nav {
  display: flex;
  margin-bottom: 1rem;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid rgb(217, 215, 215);
}

nav a:hover {
  padding-bottom: 0.2em;
  border-bottom: 5px solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

button {
  grid-column: 1 / -1;
  cursor: pointer;
  color: white;
  background-color: var(--color-accent);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1rem;
}

.resume {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  border: 1px solid rgb(98, 97, 97);
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.intros {
  background-color: rgb(11, 24, 64);
  color: rgba(255, 255, 255, 0.78);
  padding: 1rem;
}

.resume_pic {
  border-radius: 50%;
}

.resume li {
  list-style-type: none;
}
